# Racket files
*.rkt linguist-language=Racket
*.scrbl linguist-language=Racket

# Coq files
*.v linguist-language=Coq

# Isabelle files
*.thy linguist-language=Isabelle

# Agda files
*.agda linguist-language=Agda

# Shell scripts
*.csh linguist-language=Shell



